*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}












.calculator-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    place-items: center;
}
.calculator {
    background-color: #3E9072;
    height: 500px;
    width: 300px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 20px 10px 30px black;   
}

.calculator input {
    height: 18vh;
    width: 90%;
    border-radius: 13px;
    border: 5px solid #31725A;
    background-color: rgb(208, 202, 202);
}

.btn-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    padding: 4px;
    background-color: transparent;
    gap: 2.4px;
}

.btn {
    background-color: #31725A;
    padding: 8px;
    margin-bottom: 4px;
    border-radius: 30%;
    cursor: pointer;
    height: 60px;
    width: 60px;
    border: none;
    color: white;
    font-size: 20px;
    font-family: 'Courier New';
}

.btn-container .btn1{
    grid-column: span 2;
    width: 100%;
}

.arrowl i{
    background-color: transparent;
}

.ze{
    grid-column: span 2;
    width: 100%;
}

.btn{
    border-radius: 20px;
}

.btn:hover{
    box-shadow: 3px 3px 10px #000;
}
