html{

    background-color: black;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

a{
    color: orange;
}

a:hover{
    color: orangered;
}

h1:hover{
    color: aqua;
}

img{
    max-width: 100%;
}