body {
    background-color: #0a031b;
}

h3 {
    user-select: none;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.background {
    width: 430px;
    height: 480px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    user-select: none;
    background: linear-gradient(#08a828, #23a2f6);
    left: -80px;
    top: -80px;
}

.shape:last-child {
    background: linear-gradient(to right, #ff512f, #f09819);
}

form {
    height: 520px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.05);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 45px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;

}

form * {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}


::placeholder {
    color: #ffffff;

}

button {
    margin-top: 50px;
    margin-left: 119px;
    margin-bottom: 10px;
    width: 40%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 90px rgba(255, 255, 255, 0.07);
}

.social {
    margin-top: 30px;
    display: flex;
}

.social div {
    width: 150px;
    border-radius: 3px;
    padding: 5px 30px 10px 5px;
    color: #eaf0fb;
    text-align: center;

}

.social div:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.social .fb {
    margin-left: 25px;
    padding: 5px 20px 10px 5px;
    align-items: center;
}

.social .go {
    margin-right: 4px;
    margin-left: 4px;
    padding: 5px 20px 10px 5px;
    align-items: center;
}

.social .apple {
    margin-right: 4px;
    margin-left: 4px;
    padding: 5px 20px 10px 5px;
    align-items: center;
    background-color:#ffffff;
}


label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 8px;
    margin-left: -10px;
    font-size: 14px;
    font-weight: 300;
}


p {
    align-items: center;
    padding-left: 140px;
    cursor: pointer;
}