*,
*::after,
*::before{
    box-sizing: border-box;
}

.start{
    background-color: black;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 36vh;
    border-bottom: 20px solid #FDB934;
}

.start:first-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}


.nav li{
    display: inline-flex;
    margin-right: 30px;
    border-radius: 10px;
    padding: 10px;

}

.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

body{
    padding: 0;
    margin: 0;
    background-image: url(1288997.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.start h1{
    color: white;
    font-size: 40px;
}

.nav li:hover{
    border-bottom: thin solid white;
}

.fin{
    background-color: #FDB934;
    padding: 20px;
    width: 100%;
    height: 30%;
}