/* a, b, c, d, e, f, g, h, i, j, k, l, m,
 n, ñ, o, p, q, r, s, t, u, v, w, x, y, z.*/


 *,
 *::after{
  box-sizing: border-box;
 }

 @keyframes palpitar {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes palpitar-adelante {
  0% {
    transform: translateZ(0);
  }
  50% {
    transform: translateZ(50px) scale(1.2);
  }
  100% {
    transform: translateZ(0);
  }
}

 /*@import url("styleTwo.css");*/

 /*-------------------A-------------------*/
 
.algorithm summary{
    font-size: 15px;
}

.atributtes-selectors a[href]{
  color: #EEE0CB;
  text-decoration: none;
  justify-content: center;
  align-items: center;

}

.atributtes-selectors li:hover{
  background-color: #ffffff;
}

.atributtes-selectors li:hover a{
  color: black;
} 


.atributtes-selectors a[target="blank"]{
  font-weight: 600;
  
}

/*
.atributtes-selectors a[href*="jonmircha"]{
  font-size: 22px;
}

.atributtes-selectors a[href^="https"]{
  font-size: 22px;
}

.atributtes-selectors a[href$="blog"]{
  font-size: 22px;
}


.atributtes-selectors a[class~="cursos"]{
  font-size: 24px;
  color: aqua;
}

.atributtes-selectors a[class|="menu"]{
  font-size: 24px;
  color: aqua;
}
*/

.atributtes-selectors li{
  margin: 10px;
  background-color: #000000;
  padding: 10px;
  border-radius: 10px;
  width: 30%;


}

.article-pseudoclass p:first-of-type{
  color: yellowgreen;
}

.article-pseudoclass p:last-of-type{
  color: violet;
}

.article-pseudoclass p:nth-of-type(2){
  color: yellowgreen;
}



/*-------------------B-------------------*/



.buttons button{
  padding: 10x;
  width: 100%;
}

.brothers-general ~ li{
  background-color: chocolate;
}

.brothers-adjacent + li{
  background-color: chocolate;
}



.bn{
  background-color: #839788;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  width: 80px;
  box-shadow: 4px 5px 5px black;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.bn:hover{
  background-color:#00cec9;
  border-color: #00b3ff;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.bn > a{
  color: #EEE0CB;
  text-decoration: none;
  font-size: 20px;
}

.ba .b:hover{
  background-color: #000000;
  border-color: #00b3ff;
  box-shadow: 4px 5px 5px #00b3ff;
}

.ba .b>a{
  text-decoration: none;
  color: #000000;
  font-size: 15px;


}

.b{
  background-color: #EEE0CB;
  border-color: yellowgreen;
  border-radius: 10px;

}

.ba .b:hover a{
  color: #ffffff;
  text-decoration: none;
}

.box-elements img{
  width: 40%;
  height: 40%;
  display: block;
  margin: 0 auto;
}

.box-elements summary{
  font-size: 18px;
  font-weight: 600;
}


.border-properties li::marker{
    content: '- ';
    font-size: 1.2em;
}

.border-properties{
  background-color: #EEE0CB;
  width: 60%;
  padding: 10px;
  border-radius: 10px;
}

.border-properties li{
  color: #839788;
}


.border pre:only-of-type{
  padding-top: 12px;
  margin: 10px;
}

.border-example{
  text-align: center;
  color: white;
  border: 5px solid white;
  width: 50%;
  margin: 0 auto;
  /*
  border-top-color: skyblue;
  border-bottom-color: skyblue;
  border-top-width: 30px;
  border-right-width: 10px;
  border-left-width: 5px;
  border-bottom-width: thick;
  border-top-style: double;
  border-right-style: solid;
  border-bottom-style: dashed;
  border-left-style: dotted; */

  border-width: 10px 2px 8px 100px;
}




/*-------------------C-------------------*/

.content{
  background-color: #f3e8e8;
  padding: 10px;
  height: 50%;
  border-radius: 10px;
}

code{
  color: skyblue;
}

.cascada li{
  color: #81ecec;
}



/*-------------------D-------------------*/

.display table:first-of-type, td{
  border: thin solid black;
  color: black;
}

.display thead:first-of-type{
  background-color: #6c5ce7;
}



.Display li{
  display: inline-block;
}

.divider{
  width: 250px;
  border-bottom: 4px solid white; 

}

.divider-dos{
  border-bottom: 4px solid #839788; 
}

details{
  cursor: pointer;
}

.definition{
  width: 40%;
  background-color: black !important;
  
}

.block-box, .line-box{
  background-color: #00cec9;
  height: 100px;
  width: 50%;
  border: thin solid black;
  padding: 16px ;
}

.block-box{
  margin: 32px;
}

.line-box{
  margin: 48px;
}



/*-------------------E-------------------*/

.encabezado{
  display: flex;

}

/*
.encabezado:hover{
  animation: palpitar 1s ease infinite,palpitar-adelante 1s ease infinite;
}*/
.especial{
  background-color: coral;
  color: #FFFFFF;
}


/*-------------------F-------------------*/

.form-pseudoclasses :first-child{

  background-color: chartreuse;

}



.form-pseudoclasses *:required{

  border-color: #00b3ff;

}

.form-pseudoclasses *:valid{
  border-color: chartreuse;
}

.form-pseudoclasses *:invalid{
  border-color: rgb(255, 42, 0);
}

.form-pseudoclasses *:focus{
  background-color: #EEE0CB;
}

.form-pseudoclasses *:disabled{
  background-color: pink;
}

.form-pseudoclasses input:hover{
  background-color: rgb(0, 153, 255);
  
}

.form-selectors-agrouping input[type="text"],
.form-selectors-agrouping input[type="email"],
.form-selectors-agrouping textarea{
  border-color: yellowgreen;
  background-color: #000000;
  color: white;
  display: block;
  width: 300px;
  border-style: dashed;
  border-width: 3px;
}

.form{
  border-radius: 4px;
}

.functioning p:nth-of-type(2){
  font-size: 20px;
  color: #EEE0CB;
  font-weight: 800;
}


/*------------------G-------------------*/









/*-------------------H-------------------*/

.head{
  background-color: #000000;
  width: 50%;
  margin: 0;
  padding: 20px;
  border-radius: 10px;
  color: white;
  position: absolute;

}

html{
  scroll-behavior: smooth;
  background-color: #EEE0CB;
}

.hijos-directos > li {
  background-color: brown;
}


h3{
  font-size: 18px;
}

h2{
  color: black; 
  font-weight: 800;
  font-family: Arial, sans-serif;
}

h1{
  color: #EEE0CB;
  font-weight: 800;
  margin: 0;
  padding-top: 10px;
  font-size: 30px;
}


/*-------------------I-------------------*/

.input-pseudoelements::placeholder{
  color: brown;
  background-color: turquoise;
}


input[type="file"]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #a29bfe;
  transition: 1s;
}

input[type="file"]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}

.Inheritance blockquote{
  font-size: 20px;
  border-style: solid;
  border-color: black;
  padding:10px;
  color: white;
}

.Inheritance blockquote>cite{
  background-color: #6c5ce7;
  font-size: initial;
  
}

.Inheritance a{
  text-decoration: none;
}

img[alt="boxmodel"]{
  display: block;
  margin: 0 auto;
  width:45%; 
  height: 90%;
}

img[alt="Style user agent"]{
  display: block;
  margin: 0 auto;
}

/*-------------------J-------------------*/






/*-------------------K-------------------*/








/*-------------------L-------------------*/
#logo{
  width: 75px;
  height: 60px;
  padding-right: 15px;
}


.list-pseudoclass li:first-child{

  color: chartreuse;
}

.list-pseudoclass li:last-child{

  color: chocolate;
}

.list-pseudoclass li:nth-child(7){

  color: chocolate;
}

.list-pseudoclass li:nth-child(2n){

  font-size: 20px;
}

.list-pseudoclass li:nth-child(3n +1){

color: tomato;
}

.list-pseudoclass li:nth-child(even){

  background-color: tomato;
  color: white;
}

.list-pseudoclass li:nth-child(odd){
  background-color: yellow;
  font-size: 20px;
}

.list-mar li::marker {
  content: '✝ ';
  font-size: 1.2em;
}

.link-inicio{
  text-decoration: none;
}

.line-box,
.block-box{
  background-color: #00b3ff;
}

.block-box{
  margin: 32px;
  display: inline;
  width: 290px;
}

.line-box{
  margin: 48px;
  display: block;
}

/*-------------------M-------------------*/



main{
  margin-left: 20px;
}




/*-------------------N-------------------*/


.navegators li{
  display: inline-block;
  margin-right:10px;
  text-decoration: none;
  font-size: 17px;
  padding: 10px;
  border-radius: 10px;

}

.navegators{
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
}

.navegators a{
  color: white;
}


.navegators li:hover a{ 
  border-bottom: 1px solid #839788;  
}



/*-------------------Ñ-------------------*/




/*-------------------O-------------------*/

#opciones{
  background-color: #EEE0CB;
  font-weight: 800;
}

#opciones option{
  background-color: white;
}

#opciones:hover{
  background-color: #00cec9;
  font-size: 17px;
}

.overflow{
  background-color: white;
  overflow-y: scroll;
  color: #000000;
  width: 200px;
  height: 100px;
  margin: 0 auto;
}

/*-------------------P-------------------*/



pre{
  background-color: rgb(5, 1, 16);
}

.prueba a:visited{
  color: olive;
}
.prueba a:hover{
  color: orangered;
}

.p-pseudoelements::first-letter{
  font-size: 30px;
}

.p-pseudoelements::first-line{
  background-color: #00b3ff;
}

.p-pseudoelements::selection{
  background-color: #000000;
  color: yellowgreen;
}


.pseudoelements::backdrop{
  background-color: #00b3ff;
}

.pse *:not([href="#section"]){
  color: yellowgreen;
}

.pse ul>li{
  background-color: #00b3ff;
}

p{
  font-family: sans-serif;
  font-size: 19px;
  font-weight: 300px;
}


/*-------------------Q-------------------*/








/*-------------------R-------------------*/


.recuadro{
  width: 60%;
  background-color: #839788;
  padding: 10px;
  border-radius: 10px;
  color: white;
  
}

.recuadro:target{
  background-color: #000000;
}

.recuadro:target pre{
  background-color: white;
  box-shadow: 3px 4px 10px #00b3ff;
  padding-top: 12px;
}

.recuadro:target code{
  color:black;
}

/*-------------------S-------------------*/

.syllabus a{
  text-decoration: none;
  color: white;
  font-weight: 800;

}

.span a{
  text-decoration: none;
  background-color: #000000;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
}

.span a:hover{
  background-color: white;
  color: #000000;
}

.syllabus{
  border: 10px;
  border-color: #000000;
  background-color: #839788;
  width: 30%;
  border-radius: 5px;
  background-position: center;
  padding-bottom: 10px;
 
}



.start{
  background-color: #000000;
  color: #839788;
  padding: 20px;
  width: 100%;
  margin: 0;
}

.style-footer{
  background-color: #000000;
  padding: 20px;
  width: 100%;
  
}

.basic-selectors h2{
  background-color: #6c5ce7;
  background-color: inherit;
}

.style-footer p{
  color: #EEE0CB;
  align-items: center;
  text-align: center;

}

.style-footer a{
  color: #839788;
}

.style-summary{
  font-weight: 500;
  font-size: 19px;

}

#sf{
  color: #839788;
  font-weight: 600;
  font-size: 18px;
  background-color: #EEE0CB;
  width: 25%;
  border-radius: 10px;
  padding: 10px;
}

.saga-geminis::before{
  content: "🫣";
}

.saga-geminis::after{
  content: "©";
}

.saga-precio::before{
  content: "$";
  font-weight: bold;
}

.saga-precio::after{
  content: " COP";
  font-weight: bold;
}


.style-navegators a{
  color:white;
  text-decoration: none;
  font-family: sans-serif;
  padding-bottom: 3px;
  transition: border-bottom 0.2s ease; /* Transición suave */

}

/*-------------------T-------------------*/

#titulo-temario{
  color: #EEE0CB;
  padding-left: 60px;
  padding-top: 10px;
}

.text-color{
  color: #EEE0CB;
}

.table {
  border: 1px solid;
}

.table td, th{
  border: 1px solid;
}

#table-col {
  background-color: yellowgreen;
}

.table > tbody{
  background-color: turquoise;
}

#title{
  font-size: 34px;
  color: #839776; 
  font-weight: 900px;
  text-align: center;
}



/*-------------------U-------------------*/


ul{
    color: white;
    list-style-type: none;
}



/*
.Universal-Selector *{
  font-family: sans-serif;
  color: #839788;
}*/



/*-------------------V-------------------*/





/*-------------------W-------------------*/





/*-------------------X-------------------*/




/*-------------------Y-------------------*/




/*-------------------Z-------------------*/








/* Estilos opcionales para el select */
select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
